:root {
  --main-text-color: #403d58;
  --main-text-color-dark: #2a283a;
  --main-text-color-light: #615c85;
  --second-color: #87b6a7;
  --second-color-dark: #5b9683;
  --second-color-light: #b7d3ca;
  --third-color: #fc7753;
  --third-color-dark: #fb3c08;
  --third-color-light: #fdb29e;
  --accent-color-1: #e3f09b;
  --accent-color-2: #81a4cd;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; /* will now inherit whatever set on body */
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  padding: 2rem;
}

h1 {
  font-size: 4em;
  color: var(--main-text-color);
}

h2 {
  font-size: 3em;
  color: var(--main-text-color);
}

h3 {
  font-size: 2.5em;
  color: var(--main-text-color);
}

h4 {
  font-size: 2em;
  color: var(--main-text-color);
}

p,
td,
th,
label {
  font-size: 1.5em;
  color: var(--main-text-color-dark);
}

input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 0.5rem 1rem;
  border-radius: 2px;
  border: none;
  border-bottom: 0.25rem solid transparent;
  padding-top: 0.75rem; /**to offset transparent border cf center placeholder */
  height: 3rem;
  display: block;
  transition: border-bottom 0.3s;
}

input:focus {
  outline: none;
  border-bottom: 3px solid var(--main-text-color-light);
}

/**wrapper class if using hover label cf positioning */
.form-input {
  position: relative;
  margin: 1.5rem;
}

.hover-label {
  margin-left: 0.5rem; /**line up with input*/
  position: absolute;
  font-size: 1.2rem;
  top: 2.8rem;
  opacity: 0;
  transition: opacity 0.1s, top 0.6s;
}

input:not(:placeholder-shown) + .hover-label {
  opacity: 1;
  top: -1.8rem;
  transition: opacity 0.7s, top 0.3s;
}

button {
  padding: 0.7rem 1.5rem;
  border-radius: 5px;
  background-color: var(--third-color-light);
  font-size: 1em;
  color: var(--main-text-color-dark);
  border: 2px solid var(--third-color);
  font-weight: bold;
  text-transform: uppercase;
}

.light-text {
  color: var(--main-text-color-light);
  font-style: italic;
}

.error-text {
  color: red;
}

.hidden {
  display: none;
  visibility: hidden;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fade-in {
  animation: fadein 1s ease-in;
}

.fade-out {
  animation: fadeout 1s ease-in;
}

.login-page {
  display: grid;
  place-items: center;
}

.login-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
}

@media (min-width: 600px) {
  .login-box {
    width: 50%;
  }
}

.panel {
  padding: 3rem;
  background-color: var(--second-color-light);
  border-radius: 5px;
  border: 2px solid var(--second-color-dark);
  box-shadow: 3px 3px 4px var(--second-color);
}

.add-item-ribbon {
  display: flex;
  flex-direction: column;
}

@media (min-width: 600px) {
  .add-item-ribbon {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
}

.add-item-inputs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-left: 2rem;
}

.add-item-inputs > button {
  margin-left: 1rem;
}

.main-list {
  padding: 1rem;
  margin-top: 2rem;
  background-color: var(--third-color-light);
  border-radius: 5px;
  border: 1px solid var(--third-color-dark);
}

.item-container {
  padding: 1rem;
  margin: 1rem;
  background-color: var(--third-color-light);
  border-radius: 5px;
  border: 1px solid var(--accent-color-2);
  display: flex;
  flex-direction: column;
}

@media (min-width: 600px) {
  .item-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.item-text {
  max-width: 80%;
  overflow-wrap: break-word;
}

.item-btn-container > button {
  margin-left: 1rem;
}
